.burger-list__item {
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.burger-list__text {
  min-height: 48px;
  text-align: center;
}

.content-wrapper {
  display: flex;
  align-items: center;
}
