.burger-ingredients {
  width: 600px;
}

.burger-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.scroll {
  height: 650px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1c1c21;
  }
}
